@rendermode InteractiveServer

@inject ChatStateService chatStateService

<div class="d-flex">
    <div class="col-11">
        <textarea class="form-control" rows="3" @bind="_inputText"></textarea>
    </div>
    <div class="col-1">
        <button class="btn btn-dark" @onclick="OnSendMessageClicked">Send</button>
    </div>
</div>

@code {
    private string _inputText = "";
    
    private void OnSendMessageClicked()
    {
        chatStateService.SendUserMessage(_inputText);
        _inputText = "";
    }
}