@rendermode InteractiveServer

@inject ChatStateService _chatStateService
@inject SettingsService _settingsService
@inject IJSRuntime _jsRuntime


@if(_chatStateService.CurrentChatSession is not null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-8">
            <textarea @ref="_textarea" class="form-control border-3" rows="3" @onkeydown="HandleKeyPressed"
                placeholder="Type your text here">
            </textarea>
        </div>
        <div class="col-1 ms-1">
            @if (_chatStateService.CanUserInteract())
            {
                <button id="sendButton" class="btn btn-light d-flex align-items-center justify-content-center"
                        @onclick="OnSendMessageClicked">
                    <img src="icons/send-fill.svg" alt="send icon" width="20" height="20">
                </button> 
            }
        </div>
    </div>
}

@code {
    private bool _applicationStarted = false;
    private ElementReference _textarea;
    
    protected override async Task OnInitializedAsync()
    {
        if (!_applicationStarted)
        {
            _applicationStarted = true;
            
            _chatStateService.RefreshView += ReloadComponentState;
            _settingsService.RefreshView += ReloadComponentState;
        }

        await base.OnInitializedAsync();
    }
    
    private async void OnSendMessageClicked()
    {
        if (_chatStateService.CanUserInteract())
        {
            var chatbotSelected = _settingsService.ChatbotSelected;

            if (chatbotSelected is null)
            {
                return;
            }
            
            string text = await _jsRuntime.InvokeAsync<string>("getTextareaValue", _textarea);
        
            await _jsRuntime.InvokeVoidAsync("setTextareaValue", _textarea, string.Empty);
            
            await _chatStateService.SendUserMessage(text, chatbotSelected.Apihost, 
                chatbotSelected.ApiKey, _settingsService.TextStream);
        }
    }

    private void HandleKeyPressed(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            OnSendMessageClicked();
        }
    }
    
    private void ReloadComponentState()
    {
        InvokeAsync(StateHasChanged);
    }
}