textarea {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    resize: none;
}

#sendButton {
    width: 40px;
    height: 60px;
}

.file-input-container {
    width: 65px;
    height: 65px;
}

.button-double-image {
    position: relative;
}

.right-image {
    opacity: 80%;
}

.left-image {
    position: absolute;
    left: -1px;
    bottom: 9px;
}