@inherits LayoutComponentBase

@inject ChatStateService _chatStateService

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row-2 px-4">
            <div class="d-flex align-items-center">
                @if (_chatStateService.CurrentChatSession is not null)
                { 
                    <h2>
                        @_chatStateService.CurrentChatSession.Title
                    </h2>
                }
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
        <div>
            <InputBox/>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>