@page "/"

@rendermode InteractiveServer

@inject ChatStateService chatStateService

<PageTitle>SmartBlaze</PageTitle>

@if (chatStateService.CurrentChatSessionMessages is not null)
{
    @foreach(var message in chatStateService.CurrentChatSessionMessages)
    {
        <div class="d-flex">
            <div>
                @switch (message.Role)
                {
                    case "user":
                        <img src="icons/person-fill.svg" width="28" height="28" alt="user icon"/>
                        break;
                    case "assistant":
                        <img src="icons/robot.svg" width="28" height="28" alt="assistant icon"/>
                        break;
                    case "system":
                        <img src="icons/gear-fill.svg" width="25" height="25" alt="system icon"/>
                        break;
                }
            </div>
            <div class="ps-3 pe-3 pb-5 pt-1">
                <span>@message.Content</span>
            </div>
        </div>
    }
}


@code {
    protected override async Task OnInitializedAsync()
    {
        chatStateService.OnChange += RefreshView;

        await base.OnInitializedAsync();
    }

    private void RefreshView()
    {
        InvokeAsync(StateHasChanged);
    }
}