@page "/"

@inject ChatStateService chatStateService

<PageTitle>SmartBlaze</PageTitle>

@if (_selectedChatSession is not null)
{
    <h2>@_selectedChatSession.Title</h2>
    
    @foreach(var message in _selectedChatSession.Messages)
    {
        <p>@message.Content</p>
    }
}


@code {
    private ChatSession? _selectedChatSession;

    protected override async Task OnInitializedAsync()
    {
        _selectedChatSession = chatStateService.CurrentChatSession;

        await Task.CompletedTask;
    }
}