@page "/"

@rendermode InteractiveServer

@inject ChatStateService chatStateService

<PageTitle>SmartBlaze</PageTitle>

@if (chatStateService.CurrentChatSession is not null)
{
    <h2>@chatStateService.CurrentChatSession.Title</h2>
    
    @foreach(var message in chatStateService.CurrentChatSession.Messages)
    {
        <p>@message.Content</p>
    }
}


@code {
    protected override async Task OnInitializedAsync()
    {
        chatStateService.OnChange += RefreshView;

        await base.OnInitializedAsync();
    }

    private void RefreshView()
    {
        InvokeAsync(StateHasChanged);
    }
}