@page "/error"

@inject RedirectService _redirectService

<PageTitle>Error</PageTitle>

<div id="pageRow">
    <span id="pageTitle">
        
    </span>
</div>

<div id="errorPageContainer">
    <h2 class="text-danger">@_redirectService.ErrorTitle</h2>
    <p class="text-danger">@_redirectService.ErrorMessage</p>
</div>

@code {
    
}