@page "/welcome"

@rendermode InteractiveServer

<PageTitle>SmartBlaze - Welcome</PageTitle>

<div id="pageRow">
    <span id="pageTitle"></span>
</div>

<div id="welcomePageContainer">
    <h1>Welcome to SmartBlaze!</h1>

    <br/>
    
    <h5>A user-friendly application for AI Models</h5>
    
    <br/>
    
    <h6>If you already have an account you can <NavLink href="/login">Log in</NavLink>.</h6>
    <h6>If you haven't, you can <NavLink href="/register">Register</NavLink> a new account.</h6>
</div>

