@page "/welcome"

@rendermode InteractiveServer

@inject RedirectionService _redirectionService

<PageTitle>SmartBlaze - Welcome</PageTitle>

<div id="pageRow">
    <span id="pageTitle"></span>
</div>

<div id="welcomePageContainer">
    <h1>Welcome to SmartBlaze!</h1>

    <NavLink class="nav-link" href="/register">Register</NavLink>
    <NavLink class="nav-link" href="/login">Login</NavLink>
</div>

